<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>004--懒加载与OC的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBE291781E0A79DB0000762E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE2918C1E0A79DB0000762E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE291971E0A79DB0000762E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
